@import '_mixins';
@import 'variables';
$header-height:calculateRem(50px) ;
nav {
    background: var(--main_color);
    width: 100vw;
    height:$header-height;
    padding:10px;
    box-shadow: 3px 3px 5px var(--grey_deep);
    font-size: 3rem;
    color:var(--white);
}
